$primaryColor: #ffc200;
$secondaryColor: #474559;
$greyColor: #eee;
$greyDarkColor: #5b5b5b;
$whiteColor: #fff;
$blackColor: black;
$darkGrey: rgba(0, 0, 0, 0.5);
$mainBlack: #353535;
$lightBlack: #777;
